html, body {
    background-image: url(../images/background.jpg);
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
    background-size: cover;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

startBtn{
    background-color: black;
    width: 300px;
    height: 100px;
}

player{
    background-image: url(../images/Spongebob-squarepants.svg.png);
    /*background-color: yellow; */
    background-size: inherit;
    width: 55px;
    height: 85px;
}

bread{
    background-image: url(../images/bread.png);
    background-size: inherit;
    width: 50px;
    height: 50px;
}

patty{
    background-image: url(../images/patty.png);
    background-size: inherit;
    width: 50px;
    height: 50px;
}

cheese{
    background-image: url(../images/cheese.png);
    background-size: inherit;
    width: 50px;
    height: 50px;
}

lettuce{
    background-image: url(../images/lettuce.png);
    background-size: inherit;
    width: 50px;
    height: 50px;
}

tomatoes{
    background-image: url(../images/tomatoes.png);
    background-size: inherit;
    width: 60px;
    height: 50px;
}

ketchup{
    background-image: url(../images/ketchup.png);
    background-size: inherit;
    width: 55px;
    height: 115px;
}

mustard{
    background-image: url(../images/mustard.png);
    background-size: inherit;
    width: 55px;
    height: 115px;
}

pickles{
    background-image: url(../images/pickles.png);
    background-size: inherit;
    width: 50px;
    height: 50px;
}

startBtn{
    background-image: url(../images/play.png);
    background-color: transparent; 
    width: 511px;
    height: 182px;
   
}

score{
    background-color: whitesmoke; 
    background-size: inherit;
    width: 100px;
    height: 50px;
    left: 80%;
    top: 5%
}

lives3{
    background-color: red; 
    background-size: inherit;
    width: 150px;
    height: 50px;
    left: 80%;
    top: 10%
}

lives2{
    background-color: red; 
    background-size: inherit;
    width: 100px;
    height: 50px;
    left: 80%;
    top: 10%
}

lives1{
    background-color: red; 
    background-size: inherit;
    width: 50px;
    height: 50px;
    left: 80%;
    top: 10%
}

question{
    background-color: red; 
    background-size: inherit;
    width: 200px;
    height: 50px;
    left: 50%;
    top: 10%
}